*{
	padding:0;
	margin:0;	
}

textarea {
	width: 300px;
	height: 150px;
}

body{
	width: 100%;
		font-family:"Arial Rounded MT";
}

footer{
	margin-top: 3em;
	padding-top:1em;
}


header{
	margin-bottom: 2em;
}

header h1{
	width: 25%;
}

main {
  padding: 1em 0 1em 0;
}


h1{
		color:navy;
}

table{
	margin:auto;
}

th, td{
	border: solid black 1px;
	padding: 0.5em;
}

th{
	background-color: navy;
	color: white;		
}

.odd{
	background-color: grey;
	color: white;		
}

.even{
	color: white;		
	background-color: green;
}



form{
	border: green solid 2px;
	padding: 2em;
}

label{
	display: inline-block;
	color: green;
}

.error{
	color:red;
	padding-left:1em;
}

input[type="submit"]
{
	display: inline-block;
	background: green;
	color: white;
	padding: 8px;
	margin-top:16px;
}


main form {
  padding: 1% 0 0;
  margin: auto;
}

.login-page {
  width: 400px;
  padding: 1% 0 0;
  margin: auto;
}

form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  width: 100%;
  border: 1 green solid;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: 0 auto;
}


header, footer, .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}



header nav, header h1{
	display:inline-block;
}

main{
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  width: 100%;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

header nav{
	margin-top: 0;
}

header nav a{
  display: inline-block;
  text-align:center;
  text-transform: uppercase;
  text-decoration: none; 	
  outline: 0;
  background-color: #4C0050;
  border: 0;
  padding: 5px 15px;
  color: #FFFFFF;
  font-size: 0.8em;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
  cursor: pointer;	
}

header nav a:hover{
	background-color: yellow;
}

#loginbutton{
	background: green;
}