<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" th:href="@{/css/styles.css}"	type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}"	type="text/css" />
<title>Welcome</title>
<meta charset="utf-8" />
</head>

	<!-- This shows the LIST of PROJETCS available -->

<body>
	<header>á
		<h1><span th:text="#{index.welcome}">WELCOME</span></h1>
	    <nav>
		   	<a th:href="@{/showprojects}" th:text="#{index.projects}">View all Projects</a>
		   	<a th:href="@{/chooseuser}" th:text="#{index.userprojects}">Add New Project</a>
		  <!--  	<a th:if="${session.loggedin} == null" th:href="@{/signup}" th:text="#{index.signup}">Sign Up</a>
			<a th:if="${session.loggedin} != null" th:href="@{/profile}" th:text="#{index.profile}">Profile</a>
		   	<a th:if="${session.loggedin} != null" th:href="@{/logout}" id="loginbutton"><span th:text="#{index.logout}"></span></a>
	    	<a th:if="${session.loggedin} == null" th:href="@{/login}"  id="loginbutton"><span th:text="#{index.login}"></span></a> -->
	    </nav>
    </header>
    
    <main>
		<form id="chooseUserForm" method="get" th:action="@{/showuserprojects}" th:object="${member}">
			
			<label for="userId" th:text="#{projects.Id}"></label>

			<input type="number" th:field="*{memberId}"/>
			<br>
			<input type="submit" th:value="#{projects.find}"/>
		</form>
	</main>
	<footer>
		<a th:href="@{projects?lang=fr}"><i class="flag-icon flag-icon-fr"></i></a>&nbsp;
   		<a th:href="@{projects?lang=ie}"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>
</body>
</html>


<!--   -->